.alert {
  background: transparent;
  border: 2px solid #023e8a;
  padding: 10px;
  border-radius: 10px;
  color: red;
  margin-top: 1rem;
  display: flex;
  width: 500px;
  max-width: 90%;
  align-items: center;
  img {
    width: 20px;
    margin-right: 10px;
  }
}
