.navbar {
  background: rgb(87, 84, 84);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  img {
    color: white;
    width: 40px;
    margin: 10px;
  }
  ul {
    margin-left: auto;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: white;
        padding: 0 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
