.navbar {
  background: rgb(0, 119, 182);
  background: linear-gradient(
    0deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(2, 62, 138, 1) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  img {
    color: white;
    width: 40px;
    margin: 10px;
  }
  ul {
    margin-left: auto;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: white;
        padding: 0 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
